## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# Movie Analysis for future Movie Production

## Overview

This project analyzes movie characteristics such as genres, return on investment (ROI), and ratings. The data analysis performed in this repository is based on datasets from [Box Office Mojo](https://www.boxofficemojo.com/), [IMDB](https://www.imdb.com/), [Rotten Tomatoes](https://www.rottentomatoes.com/), [TheMovieDB](https://www.themoviedb.org/), and [The Numbers](https://www.the-numbers.com/).

## Buisness Problem

Microsoft sees all the big companies creating original video content and they want to get in on the fun. They have decided to create a new movie studio, but they donâ€™t know anything about creating movies. You are charged with exploring what types of films are currently doing the best at the box office. You must then translate those findings into actionable insights that the head of Microsoft's new movie studio can use to help decide what type of films to create.

> ### Buisness Understanding 
> Microsoft wants to enter the movie production business however as a rookie in this business they need insight on audience opinions about characteristics about movies. Audience opinions impact ROI. In addition to learning about what an audience enjoys, Microsoft must also consider when to release their movies to get the most ROI.

## Data Understanding

In [ ]:
# Import libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3
import requests
import json 
import zipfile
import key 
import calendar 
import ast

### Box Office Mojo
The dataset in correspondance to the Box Office Mojo in the zipped Data folder is titled "*bom.movie_gross.csv.gz*". To explore this files contents Pandas can be used for exploratory analysis. The columns of interest in this file are 'domestic_gross', 'foreign_gross' and 'year'

In [40]:
# Read the file
bom_df = pd.read_csv("zippedData/bom.movie_gross.csv.gz")
bom_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

### IMDB 
The dataset in correspondance to IMDB in the zipped Data folder is a database titled "*im.db.zip*". To deal with this dataset SQLite3 in addtion to Pandas must be used for exploratory analysis. The main tables of interest in this database are the movie_basics and movie_ratings tables. These tables contain movie charactertics and measureables for analysis. The other tables include information about the cast, writers, and directors for the movies. The below diagram shows the IMDB data.

![movie data erd](https://raw.githubusercontent.com/learn-co-curriculum/dsc-phase-1-project-v2-4/master/movie_data_erd.jpeg)

### Rotten Tomatoes
The datasets in correspondance to Rotten Tomatoes in the zipped Data foler are "*rt.movie_info.tsv.gz*" and "*rt.reviews.tsv.gz*". Both files are Table Seperated Value files meaning a delimeter needs to be used to read the files using Pandas. We must also merge both datasets based on their 'id' column in order to explore the full contents of Rotten Tomatoes overall. The id referes to the review of the movie it was conducted on.

In [ ]:
# Read the files
rt_movie_info_df = pd.read_csv("zippedData/rt.movie_info.tsv.gz", delimiter='\t')
rt_reviews_df = pd.read_csv("zippedData/rt.reviews.tsv.gz", delimiter='\t', encoding='latin1')

In [ ]:
# Create a merged df based on movie id
merged_rt_df = rt_movie_info_df.merge(rt_reviews_df, on='id')
merged_rt_df.head()

### TMDB
The dataset in correspondance to TMDB in the zipped Date folder is "*tmdb.movies.csv.gz*". To explore this files contents Pandas can be used for exploratory analysis. The id columns titled 'genre_ids' and 'id' are genere names and the movie name identifications. The main identification that is needed for analysis are the genre_ids. The movie name is not needed for analysis but rather the movie characteristics such as genres.

In [41]:
# Read the file 
tmdb_df = pd.read_csv("zippedData/tmdb.movies.csv.gz")
tmdb_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

#### The Number

In [39]:
tn_movie_df = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")
tn_movie_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

## Data Preparation

### Data Cleaning

#### Box Office Mojo 
To be explianed

#### IMDB
To be explained

#### Rotten Tomatoes
To be explained

In [ ]:
# Check the Rotten Tomatoes dataframe for any Null Values
x = merged_rt_df.isnull().sum()
x

The column of interest which is box_office has 21122 missing values. Since this data is based on a movie and not something general we can't neccessarily impute a value. The best decision is to drop those NaN values. Adding on, the merged dataset has multiple reviews for the same movie which is the reason for repeating id values in the id column.

In [ ]:
drop_duplicate_rt = merged_rt_df.copy()
rt_nonduplicate_rt = drop_duplicate_rt.drop_duplicates(subset='id', keep='first')
rt_nonduplicate_rt.head()

In [ ]:
df_rt_dropped = rt_nonduplicate_rt.drop(['synopsis', 'dvd_date', 'studio', 'publisher', 'date'], axis=1, inplace = False)
df_rt_dropped.head()

In [ ]:
df_rt_copy = df_rt_dropped.copy()
df_rt = df_rt_copy.dropna(subset=['box_office'], axis=0, inplace=False)
df_rt.head()

In [ ]:
rt_grouped = rt_nonduplicate_rt.sort_values(by='rating_x')
rt_grouped.head()

In [ ]:
rating_to_drop = 'NR'
rt_grouped = rt_grouped.drop(rt_grouped[rt_grouped['rating_x'] == rating_to_drop].index)

In [ ]:
rating = []
# Update the list with new dataframe ratings
for movie in rt_grouped:
    # Create a rating list where they do not duplicate
    for letter in rt_grouped['rating_x']:
        rating.append(letter)
    rating = list(set(rating))
# Calculate the average per rating
avg_box_office_rating = rt_grouped.groupby('rating_x')['box_office'].mean().sort_values()
print(avg_box_office_rating)
print(rating)

In [ ]:
# Convert 'theater_date' column to datetime format
rt_grouped['theater_date'] = pd.to_datetime(rt_grouped['theater_date'], format='%b %d, %Y')

# Extract the month from 'theater_date'
rt_grouped['month'] = rt_grouped['theater_date'].dt.month

# Group the data by month and calculate the average box office revenue
avg_box_office_month = rt_grouped.groupby('month')['box_office'].mean()

# Get Month Names 
month_names = [calendar.month_name[i] for i in range(1, 13)]

#### TMDB
> As mentioned previously the genre_ids column in the TMDB data are just numbers. We can retriev the defintions of those numbers using an API from TMDB that contains those definitions.

In [ ]:
# Retreive genre id's using an API from TMDB that contains the definitions for the id numbers
url = "https://api.themoviedb.org/3/genre/movie/list?language=en"
key = key.api_key

headers = {
    "Authorization": f"Bearer {key}",
    "accept": "application/json"
}

response = requests.get(url, headers=headers)
print(response.text)

> The next step would be to create a flattened version of the response that contains our definitions for the genre ids. We would also need to create a function that maps our ids in our columns and retrieves the corresponding definition.

In [ ]:
# Make our genre dictionary workasble with pandas by converting to JSON format
genre_dict = response.json()

# Make a KeyValue dictionary from our response
genre_mapping = {}
for genre in genre_dict['genres']:
    genre_mapping[genre['id']] = genre['name']

# make a function to map genre IDs to genre names
def map_genres(genre_ids):
    return [genre_mapping.get(genre_id) for genre_id in genre_ids if genre_mapping.get(genre_id)]

> The column that contains the genre ids represents itself in the dataframe as a list containig multiple strings. The reality is that it is actually a single string. The next step would be to parse the string so we can seperate the id numbers and retrieve the corresponding genre.

In [ ]:
# Define a function to parse our string in our genres column since its a single string and not a list
# the literal_eval method can safely evaluate strings containing Python values from unknown sources without us having to parse the values ourselves
def parse_list_string(s):
    try:
        return ast.literal_eval(s)
    except (SyntaxError, ValueError):
        return []

# Convert the genre_ids column from string representation to list
tmdb_df['genre_ids'] = tmdb_df['genre_ids'].apply(parse_list_string)

# Update the genre_ids column with the corresponding genre names
tmdb_df['genre_ids'] = tmdb_df['genre_ids'].apply(lambda ids: [genre_mapping.get(int(id)) for id in ids])

# Print the updated DataFrame
tmdb_df.head()

> With the genre ids substituted we can now drop any unwanted columns not needed for the analysis

In [ ]:
# Clean out our dataframe by dropping unnecessary columns for the analysis
tmdb_drop = tmdb_df.drop(["Unnamed: 0", "id", "original_language"], axis=1, inplace=False)
tmdb_drop.head()

In [ ]:
# Check for any Null values
nan_values = tmdb_drop.isnull().sum()
nan_values

> The next step to anlyze the genre column would be to seperate the genres into rows. This would allow us to analyze the specific genres.

In [ ]:
# Explode the 'genre_ids' column to convert lists into separate rows
df_exploded = tmdb_drop.explode('genre_ids')

In [ ]:

# Convert 'vote_average' column to numeric
df_exploded['popularity'] = pd.to_numeric(df_exploded['popularity'], errors='coerce')

# Group the DataFrame by each genre
genre_groups = df_exploded.groupby('genre_ids')

# Calculate the average popularity for each genre
genre_avg_pop = genre_groups['popularity'].mean().reset_index().sort_values('popularity')

## Data Analysis

## Genre vs Popularity Score

In [ ]:

# Plot the bar graph with Seaborn
plt.figure(figsize=(10, 6))
sns.barplot(data=genre_avg_pop, x='genre_ids', y='popularity', palette='Set3')
plt.xlabel('Genres')
plt.ylabel('Average Popularity Score')
plt.title('Popularity Score Based on Genre')
plt.xticks(rotation=90)
plt.show()

## Sales Bases on Appropriate Audience

In [ ]:
# Plot the bar graph with Seaborn
plt.figure(figsize=(10, 6))
sns.barplot(x=avg_box_office_rating.index, y=avg_box_office_rating.values, palette='Set3')
plt.xlabel('Appropriate Audience Rating')
plt.ylabel('Box Office Sale')
plt.title('Sale based on Appropriate Movie Audience')
plt.xticks(rotation=90)
plt.show()

## Sales Bases on Month throughout the Year

In [ ]:
# Plot the average box office revenue by month
plt.figure(figsize=(10, 6))
sns.barplot(x=month_names, y=avg_box_office_month.values, palette='Set3')
plt.xlabel('Month')
plt.ylabel('Average Box Office Revenue')
plt.title('Impact of Month on Box Office Revenue')
plt.show()

## Conclusions

In [ ]:
# Your code here - remember to use markdown cells for comments as well!